html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family: Arial;
    background: #000;
}
.container{
   position:absolute;
   width: 100%;
   height: 100%
}
#playbtn{
    display: -webkit-box;
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 0.2;
}
#pageloading{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.pegecontent{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.viewport{
   width: 100%;
   height: 100%;
   display: -webkit-box;
   overflow: hidden;
   -webkit-transform: translate3d(0,0,0);
   backface-visibility: hidden;
   position: relative;
}
.viewport-ver{
    width: 100%;
    height: 100%;
    /* display: -webkit-box; */
    display:flex;
    flex-direction:column;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    backface-visibility: hidden;
    position: relative;
 }
.pageview{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-flex: 1;
    width: 100%;
    height: 100%;
}
.pagenumber{
    display: -webkit-box;
    position: absolute;
    bottom: 5%;
    left: 35%;
    height: 1em;
    width: 30%;
}
.pagenumber-ver{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    display: -webkit-box;
    position: absolute;
    right: -6%;
    top: 45%;
    height: 1em;
    width: 30%;
}
.pagenumber div{
    -webkit-box-flex: 1;
    width: 0;
    position: relative;
}
.pagenumber .now:after {
    background: rgba(255,255,255,1) !important;
}
.pagenumber div:after{
    content: "";
    width: 6px;
    height: 6px; 
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
}
.pagenumber-ver div{
    -webkit-box-flex: 1;
    width: 0;
    position: relative;
}
.pagenumber-ver .now:after {
    background: rgba(255,255,255,1) !important;
}
.pagenumber-ver div:after{
    content: "";
    width: 6px;
    height: 6px; 
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
}
h3{
    text-align: center;
    font-family: Microsoft YaHei,Arial;
    color: #fff;
    font-size: 1.5em;
    font-weight: normal;
    padding: 1em 0;
    margin: 0;
}
button{
    width: 40%;
    margin: auto;
    height: 3em;
    background: #fff6de;
    line-height: 3rem;
    color: #000;
    padding: 0;
    border: none;
    display: block;
}
@media screen and (max-width: 360px) {
    html,body{font-size: 15px}
}
@media screen and (min-width: 360px) and (max-width: 400px) {
    html,body{font-size: 16px}
}
@media screen and (min-width: 400px) and (max-width: 460px) {
    html,body{font-size: 18px}
}
@media screen and (min-width: 460px){
    html,body{font-size: 24px}
}

