@charset "utf-8";
/* CSS Document */

/**************************** Global ********************************/
html{ 
    height:100%;
    
}

body{
    background:black;
	    /*overflow: hidden;*/
	width: 100%;
	height:100%;
	font-family: "Hiragino Sans GB","Microsoft Yahei", "黑体",sans-serif;
	font-size: 12px; 
	color: white;
	-webkit-text-size-adjust:100%;
}
a{text-decoration:none;color:white;}
a:hover{
	cursor: pointer;
	text-decoration:none;
}
@-webkit-keyframes fadeInOut {
    0% {
        opacity:0;
     }
    20% {
        opacity:0;
    }
    50% {
        opacity: 1;    
    }
    80%{
    	opacity: 0;
    }
    100% {
        opacity:0;
    }
}
.img{
	position: fixed;
	bottom: 0px;
	margin: 0 auto;  
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    -webkit-animation-direction: alternate;
}
/**************************** Global ********************************/
/*********** Page ************/
.wrap{
	width: 100%;
	height: 100%;
	overflow: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-overflow-scrolling:touch;
}
.wrap ul{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.wrap .bg{
	width: 100%;
	height: 100%;
	background: center no-repeat;
	background-size: cover;
	position: absolute;
}
.wrap .content{
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
}
.wrap .content h1{
	width: 100%;
	position: absolute;
	top: 30%;
	line-height: 1.5em;
	font-size: 30px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.wrap .content h2{
	width: 80%;
	position: absolute;
	top: 38%;
	font-size: 16px;
	line-height: 1.5em;
	margin: 5%;
	padding: 5%;
	/*border-top: solid white 1px;*/
	/*border-bottom: solid white 1px;*/
	text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}
.wrap .content h3{
	width: 80%;
	position: absolute;
	top: 38%;
	font-size: 16px;
	line-height: 1.5em;
	margin: 5%;
	padding: 5%;
	/*border-top: solid white 1px;*/
	/*border-bottom: solid white 1px;*/
	text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}
.wrap .conn{
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
}
.wrap .conn h1{
	width: 100%;
	position: absolute;
	top: 20%;
	line-height: 1.5em;
	font-size: 30px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.wrap .conn h2{
	width: 80%;
	position: absolute;
	top: 30%;
	font-size: 16px;
	line-height: 1.5em;
	margin: 5%;
	padding: 5%;
	/*border-top: solid white 1px;*/
	/*border-bottom: solid white 1px;*/
	text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}
.wrap .conn h3{
	width: 80%;
	position: absolute;
	top: 85%;
	font-size: 14px;
	line-height: 1.5em;
	margin: 5%;
	padding: 5%;
	/*border-top: solid white 1px;*/
	/*border-bottom: solid white 1px;*/
	text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}
.wrap .cooo{
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
}
.wrap .cooo h1{
	width: 100%;
	position: absolute;
	top: 30%;
	line-height: 1.5em;
	font-size: 50px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.wrap .cooo h2{
	width: 80%;
	position: absolute;
	top: 38%;
	font-size: 25px;
	line-height: 1.5em;
	margin: 5%;
	padding: 5%;
	/*border-top: solid white 1px;*/
	/*border-bottom: solid white 1px;*/
	text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}
.wrap .cooo h3{
	width: 80%;
	position: absolute;
	top: 60%;
	font-size: 16px;
	line-height: 1.5em;
	margin: 5%;
	padding: 5%;
	/*border-top: solid white 1px;*/
	/*border-bottom: solid white 1px;*/
	text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}

/*********** Last ************/

.last .content .up{
	display: block;
	left: 50%;
	margin-left: -27px;
	text-align: center;
	position: absolute;
	bottom: 1%;
}